
.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background-color: #233562;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

.media-body {
    font-family: 'Anton', sans-serif;
}

/* for toggle behavior */
#sidebarCollapse {
    border: none;
    margin: 0px;
    position: relative;
    top: -6px;
    padding: 0px;
    background: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ToggleUl {
    list-style-type: none;
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.ToggleUl li {
    width: 30px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    height: 2px;
}

.sidebaractive {
    margin-left: -17rem;
}

.contentactive {
    width: 100%;
    margin: 0;
}

.nav-item {
    border-bottom: 1px solid #1B2745;
    font-family: 'Montserrat', sans-serif;
}

.profileNav {
    background-color: #152242;
    color: white;
}

/* informationPage */

.informationPage {
    background-color: #233562;
    height: 113px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.informationPage p {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informationPage h1 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* MAIN */
.searchR {
    background-color: #152242;
}

.searchR input {
    width: 100%;
    background-color: #98B0E0;
    border-radius: 6px;
    border: none;
    height: 31px;
    padding-left: 30px;
}

.searchR input::placeholder {
    color: #223E76;
    font-weight: 800;
    font-family: 'Aton', sans-serif;
}

/* Video */
.VideoBox {
    background-color: #152242;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.VideoBox h3 {
    color: #FFFF;
    font-family: 'teko', sans-serif;
    font-weight: 200;
}
.VideoBox p {
    color: rgb(220, 216, 216);
    font-family: 'teko', sans-serif;
    font-weight: 200;
}

.video{
    max-width: 1180px;
    width: 100%;
}

.iframevideo{
    width: 100%;
}

.Description {
    background-color: #63718C;
    border-radius: 6px;
}

.Description p {
    padding-left: 10px; 
    padding-top: 6px; 
    padding-right: 10px;
    font-size: 20px;
}



/* Cards */


.CardsWrap {
    background-color: #152242;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.CardRPrincipal {
    max-width: 700px;
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 6px;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.CardsWrap a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #000000;
}
.CarouselBar label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

.cardR {
    width: 250px;
    height: 130px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: white;
    text-shadow: 0px 4px 4px #000000;
    cursor: pointer;
    border-radius: 6px;
}

.cardR p{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    color: #ffffff;
    background-color: #000000dc;
    padding: 5px;
    border-top-right-radius: 6px;
}
.cardR a{
    margin: 0;
    color: #ffffff;
    background-color: #000000dc;
    padding: 5px;
    border-top-right-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
}

.cardR a:hover{
    color: white;
}


.cardR1 {
    width: 250px;
    height: 130px;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: white;
    text-shadow: 0px 4px 4px #000000;
    cursor: pointer;
    border-radius: 6px;
}

.cardR2 {
    width: 250px;
    height: 130px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: white;
    text-shadow: 0px 4px 4px #000000;
    cursor: pointer;
    border-radius: 6px;
}

.cardR3 {
    width: 250px;
    height: 130px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: white;
    text-shadow: 0px 4px 4px #000000;
    cursor: pointer;
    border-radius: 6px;
}

.CardRWrap {
    display: flex;
    max-width: 700px;
    width: 100%;
    justify-content: space-between;
}

/* carousel */

.CarouselBar {
    background-color: #152242;
    color: white;
}

.CarouselWrap {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 15px;
}

.CarouselWrap::-webkit-scrollbar {
    height: 10px;
    /* A altura só é vista quando a rolagem é horizontal */
}

.CarouselWrap::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 10px;
}

.CarouselWrap .cardR {
    min-width: 250px !important;
}